{% extends "base.html" %}
{% block title %}Поиск{% endblock %}
{% block content %}
    {% if error %}
        <p style="color: red;">Неизвестное имя</p>
    {% endif %}
    <form action="" method="get">
        <input type="text" name="q">
        <input type="submit" value="Поиск">* выведет весь список
    </form>
    <table border="1">
        {% for com in commander %}
        {% if forloop.first %}
            <tr>
            <th>Имя</th>
            <th>Страна</th>
                <th>Фото</th>
            </tr>
        {% endif %}
        <tr>
            <td>{{com.name}}</td>
            <td>{{com.country}}</td>
            <td><img src="{{ MEDIA_URL }}{{com.photo.url}}"></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block footer %}
{% endblock %}