{% extends "base.html" %}
{% block title %}О сайте{% endblock %}
{% block content %}
    <div>
    <h1>Название проекта:<a href=https://ru.wikipedia.org/wiki/Североафриканская_кампания title='Война в Северной Африке 1940-1943гг'>
    Краткая история сражений в Северной Африке во время Второй Мировой войны</a></h1>
    <p>Назначение проекта: Информационная страница</p>
    <p>Имя автора: {{ name }}</p>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}