{% extends "base.html" %}
{% block title %}Тунисская операция{% endblock %}
{% block content %}
<h2>Тунисская операция</h2>

<p>23 октября 1942 британские войска под командованием генерала Монтгомери перешли в наступление против итало-немецких войск и в начале ноября прорвали оборону противника в районе Эль-Аламейна. 2 ноября британские войска прорвали оборону противника через 3 дня и германо-итальянская танковая армия «Африка» была вынуждена отступать под ударами противника через всю Ливию. В ходе преследования английские войска 13 ноября заняли город Тобрук, 27 ноября — Эль-Агейлу, 23 января 1943 — Триполи и в 1-й половине февраля подошли к линии Марет западнее границы Туниса с Ливией.</p>

<p>8 ноября 1942 американо-английские дивизии под командованием генерала Эйзенхауэра начали высадку в Алжире, Оране и Касабланке.
    К концу ноября англо-американские войска заняли Марокко и Алжир, вступили в Тунис и подошли к городам Бизерта и Тунис.
    Преследуемые 8-й британской армией, немецко-итальянские войска остановились 15 февраля 1943 г. только на линии Марет,
    располагавшейся в Тунисе в 100 милях от границы с Ливией.
    19 февраля Роммель нанёс удар по американским войскам в районе перевала Кассерин, но союзники отразили атаку,
    контратаковали и к концу февраля Роммель отступил, после чего его отозвали в Германию,
    а пост командующего войсками стран оси в Северной Африке занял генерал-полковник фон Арним.
    21 марта 1943 англо-американские войска начали наступление с юга на линию Марет и с запада в районе Макнаси и
    прорвали оборону итало-немецких войск, которые в начале апреля отошли к городу Тунис.
    7 мая союзники захватили города Бизерта и Тунис. 13 мая 1943 итало-немецкие войска,
    окружённые на полуострове Бон,(250 тыс. человек) капитулировали. Позже эта цифра была поставлена под сомнение.
    «Штаб Генерала Александера в донесении Эйзенхауэру 12 мая сообщал, что число пленных с 5 мая достигло 100,000 чел.
    Предполагалось что к концу боев цифра возрастет до 130.000 чел. В более позднем донесении говорилось,
    что число пленных составило 150,000 человек.»
    Занятие союзниками Северной Африки резко ухудшило и без того тяжёлое стратегическое положение стран оси в Средиземном море.</p>
<hr>
<a href="{% url 'rom_sec'%}"><<<-Битва на Газале и у Эль-Аламейна</a>
{% endblock %}
{% block footer %}
{% endblock %}