{% extends "base.html" %}
{% block title %}Итальянское наступление{% endblock %}
{% block content %}
<h2>Итальянское наступление</h2>

<p>Генерал Уэйвелл принял тактику беспокоящих противника контратак. В стычках на границе итальянцы в течение трёх первых месяцев войны потеряли убитыми, ранеными и пленными 3500 человек, а британцы только 150. Тогда же погиб и маршал Бальбо: 28 июня итальянские зенитчики по ошибке сбили заходивший на посадку в Тобруке самолёт, на котором он летел. Его сменил маршал Родольфо Грациани.</p>

<p>Войска маршала Грациани двинулись на восток 13 сентября. Части генерала О’Коннора неторопливо отходили, уступая численно превосходящему противнику, но стремились причинить ему артиллерийским огнём как можно больший урон. 16 сентября итальянские войска заняли Сиди-Баррани и дальше не пошли — окопались и заняли оборону и тем самым завершили своё наступление. Следующие два с половиной месяца они готовились к продолжению наступления, а британцы к контрнаступлению.</p>

<p>Тем не менее, британские войска продолжали отступать и остановились только у Мерса-Матрух. В результате между воюющими сторонами образовался разрыв в 130 километров (80 миль). Британское командование избегало открытого боя, учитывая малочисленность своих сил. Грациани приостановил наступление в ожидании начала итало-греческой войны, чтобы затем возобновить его в направлении к Суэцкому каналу. Он считал, что британское руководство будет отвлечено событиями в Греции, ослабят своё внимание к Египту, что это позволит итальянским войскам без особых усилий захватить Суэцкий канал. Положение в Египте стабилизировалось. После захвата итальянцами Сиди-Баррани в течение почти трёх месяцев активных боевых действий не происходило.</p>

<p>Серьёзные неудачи Италии в предпринятой ею войне против Греции не могли не отразиться на её положении в Африке. Изменилась для Италии и обстановка на Средиземном море.</p>

<p>«…Понадобилось всего несколько месяцев,— замечает немецкий адмирал Руге,— чтобы разоблачить перед всем миром военную слабость и политическую неустойчивость Италии. Отрицательные последствия этого для ведения войны державами оси не заставили себя ждать».</p>

<p>Неудачи Италии позволили британскому командованию принять более эффективные меры для обеспечения безопасности Суэцкого канала. Уэйвелл решился на атаку, которую он в своём приказе именовал «налётом крупными силами с ограниченной целью». Британским частям ставилась задача оттеснить итало-фашистские войска за пределы Египта и в случае удачи преследовать их до Эс-Саллума. Дальнейшее продвижение штаб Уэйвелла не планировал.</p>
<hr>
<a href="{% url 'lyb_op'%}">Ливийская операция->>></a>
{% endblock %}
{% block footer %}
{% endblock %}