{% extends "base.html" %}
{% block title %}Ливийская операция{% endblock %}
{% block content %}
<h2>Ливийская операция</h2>
<p>Утром 9 декабря 1940 года небольшие британские силы при поддержке 72 орудий атаковали Нибейву с фронта и отвлекли на себя внимание итальянского гарнизона. Тем временем части 7-й бронетанковой дивизии прошли через незащищенный участок между Бир-Сафафи и Нибейвой и напали с тыла на итальянский лагерь в Нибейве. Атака английских войск застала итальянский гарнизон врасплох. Итальянские генералы, охваченные паникой, не смогли организовать должного сопротивления.</p>

<p>Боевой дух итальянских войск был так низок, что 16 декабря они без боя оставили Эс-Саллум, Хальфайю и всю цепь фортов, выстроенных ими на границе Ливийского плато. План наступления войск Грациани на дельту Нила провалился. При такой обстановке британские потери были незначительными. По официальным данным, англичане потеряли убитыми 133 человека, ранеными 387.</p>

<p>К началу 1941 британские войска добились значительных успехов, 22 января 1941 г. был взят Тобрук. Однако 10 февраля 1941 года британский штаб отдал приказ о приостановлении продвижения войск у Эль-Агейлы. Британское командование решило воспользоваться поражением итальянских войск в Греции и создать там стратегический плацдарм для захвата всего Балканского полуострова.</p>

<p>Опасность полного вытеснения из Северной Африки для Италии миновала, хотя она всё же потеряла все свои колонии в Восточной Африке.</p>

<p>Однако германское командование заняло выжидательную позицию по отношению к Италии. Германия решила воспользоваться ослаблением итальянских сил в Ливии, чтобы, оказав им помощь, создать в Северной Африке стратегический плацдарм, необходимый в дальнейшем для захвата всей Африки. К тому же захват Египта и Суэцкого канала также входил в интересы Германии.</p>

<p>В течение февраля 1941 года в Ливию были переброшены германские войска под командованием генерала Роммеля. Однако британцы не обратили особого внимания на переброску в Ливию крупного контингента германских войск.</p>

<p>Поспешное отступление итальянских войск было приостановлено в середине февраля 1941 года. Итало-германские объединённые силы стали продвигаться обратно к Эль-Агейле и 22 февраля встретились с британскими войсками, расположившимися в Эль-Агейле и на восточной границе пустыни Сирт.</p>
<hr>
<a href="{% url 'egy_att'%}"><<<-Итальянское наступление</a>
<a href="{% url 'rom_first'%}">Битва за Бенгази и Тобрук->>></a>
{% endblock %}
{% block footer %}
{% endblock %}