{% extends "base.html" %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<h1>Северо-Африканская кампания, или Война в Северной Африке c 10 июня 1940 года по 13 мая 1943 года
</h1>
<p>Один из этапов Второй Мировой войны, включающий ряд сражений за нефтянные месторождения в странах Северной Африки
    между Странами Оси и Союзниками. Условно можно разделить на 6 этапов:</p>
<ul>
    <li><a href="{% url 'egy_att'%}">Итальянское вторжение в Египет (наступление итальянских войск)</li>
    <li><a href="{% url 'lyb_op'%}">Ливийская операция (контрнаступление британцев)</li>
    <li><a href="{% url 'rom_first'%}">Первое наступление Роммеля (переброска немецких сил и их наступление)</li>
    <li><a href="{% url 'na_op'%}">Северо-Африканская операция (второе наступление британцев)</li>
    <li><a href="{% url 'rom_sec'%}">Второе наступление Роммеля (последнее доминирование немецко-итальянских войск в Африке)</li>
    <li><a href="{% url 'alam'%}">Третье наступление союзников (США включается в войну, происходит битва под Эль-Аламейном)</li>
</ul>
<div align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/5hp410dsUmE" frameborder="0" allowfullscreen></iframe></div>
{% endblock %}
{% block footer %}
{% endblock %}