{% extends "base.html" %}
{% block title %}Северо-Африканская операция{% endblock %}
{% block content %}
<h2>Северо-Африканская операция</h2>

<p>18 ноября 1941 года 8-я армия Великобритании начала внезапное наступление в северо-западном направлении от своей базы в Мерса-Матрухе. 7-я танковая дивизия должна была вступить в бой с Африканским корпусом, а 30-й корпус должен был организовать совместные действия против итальянцев в Бардии с 70-й пехотной дивизией. Однако, наступление прекратилось из-за серьёзных потерь союзников в танковом сражении у Сиди-Резега. 30-й корпус и 70-я дивизия также попали под тяжёлый артиллерийский обстрел дивизии Роммеля. Танки Великобритании потерпели поражение и при Бир-эль-Гоби от итальянской 132-й танковой дивизии «Арьете» — 50 уничтоженных британских танков против 34 итальянских.</p>

<p>21 ноября Роммель предпринимает массированное наступление при поддержке люфтваффе с целью выйти к египетской границе, в тыл к британским войскам. В панике генерал Каннингем выступал за всеобщее отступление, но Окинлек был непреклонен и твёрдо решил до конца защищать позиции. В итоге манёвр Африканского корпуса не удался из-за нехватки горючего и отчаянного сопротивления 4-й индийской дивизии.</p>

<p>26 ноября Каннингем был освобождён от занимаемой должности и командующим 8-й армией был назначен Окинлек, а его заместителем — Нил Ричи, получивший звание генерал-лейтенанта. К 27 ноября ситуация окончательно складывается в пользу союзников: 30-й корпус восстановился после атаки Роммеля, а 2-я новозеландская дивизия объединилась с гарнизоном Тобрука.</p>

<p>7 декабря Роммель принимает решение отступить на юго-запад от Тобрука к укреплённой линии Эль-Газала. Окинлек и Ричи продолжали наступление войска Оси, вытеснив их к 28—30 декабря к Эль-Агейле.</p>
<hr>
<a href="{% url 'rom_first'%}"><<<-Битва за Бенгази и Тобрук</a>
<a href="{% url 'rom_sec'%}">Битва на Газале и у Эль-Аламейна->>></a>
{% endblock %}
{% block footer %}
{% endblock %}