{% extends "base.html" %}
{% block title %}Операции{% endblock %}
{% block content %}
<h1>Список основных операций кампании</h1>
<ul>
    <li><a href="{% url 'egy_att'%}">Итальянское наступление 1940-го года</a></li>
    <li><a href="{% url 'lyb_op'%}">Ливийская операция (декабрь 1940 - февраль 1941)</a></li>
    <li><a href="{% url 'rom_first'%}">Битва за Бенгази и Тобрук (март 1941 - апрель 1941)</a></li>
    <li><a href="{% url 'na_op'%}">Северо-Африканская операция (ноябрь 1941)</a></li>
    <li><a href="{% url 'rom_sec'%}">Битва на Газале и у Эль-Аламейна(май 1942 - август 1942)</a></li>
    <li><a href="{% url 'alam'%}">Тунисская операция(октябрь 1942 - май 1943)</a></li>
</ul>
{% endblock %}
{% block footer %}
{% endblock %}