{% extends "base.html" %}
{% block title %}Битва за Бенгази и Тобрук{% endblock %}
{% block content %}
<h2>Битва за Бенгази и Тобрук</h2>

<p>Немецкая разведка установила, что британцы имеют у Эль-Агейлы всего лишь две бронетанковых бригады 2-й бронетанковой дивизии, разбросанные на широком фронте отдельными отрядами и разобщённые между собой, а в районе Бенгази находятся части 9-й австралийской дивизии, составлявшие основные британские силы в Западной Киренаике. Германское командование воспользовалось столь благоприятным случаем и 31 марта нанесло британцам удар, оказавшийся внезапным. Одна бронетанковая бригада была застигнута врасплох и полностью уничтожена.</p>

<p>В ночь на 4 апреля итало-германские войска без боя заняли Бенгази, а 10 апреля подошли к Тобруку, который на другой же день был ими окружён. Попытки итало-немецких войск овладеть Тобруком с ходу успеха не имели, и им пришлось направить свои основные силы в сторону Египта. 12 апреля войска вступили в Бардию, 15 апреля заняли Сиди-Омар, Эс-Саллум, проход Хальфайя, оазис Джарабуб. На этом их продвижение остановилось.</p>

<p>В июне 1941 года английское командование предприняло попытку деблокировать Тобрук крупными силами. Однако штаб Уэйвелла не сумел сохранить в тайне замыслы своего главнокомандующего, и они стали известны противнику.</p>

<p>15 июня 1941 года в районе Эс-Саллума и форта Ридотта-Капуццо началась атака британских войск, отбивших у немцев несколько населённых пунктов. В ночь на 18 июня немецкие танковые части снова заняли Сиди-Омар. В этом районе наступление германских войск было прекращено. Итало-немецкое командование для продолжения войны в Северной Африке не имело резервов, поскольку все основные силы Германии уже были сосредоточены для борьбы против Советского Союза.</p>
<hr>
<a href="{% url 'lyb_op'%}"><<<-Ливийская операция</a>
<a href="{% url 'na_op'%}">Северо-Африканская операция->>></a>
{% endblock %}
{% block footer %}
{% endblock %}