{% extends "base.html" %}
{% block title %}Битва на Газале и у Эль-Аламейна{% endblock %}
{% block content %}
<h2>Битва на Газале и у Эль-Аламейнак</h2>

<p>С 26 на 27 мая 1942 года Роммель перешёл в наступление, атаковал британские позиции на «линии Газала» к западу от Тобрука, и прорвал оборону британцев. С 26 мая по 11 июня войска Сражающейся Франции успешно обороняли форт Бир-Хакейм к югу от Тобрука от превосходящих войск противника. 11 июня французские части, как и вся 8-я британская армия, получили приказ отступать в Египет. 20 июня немецко-итальянские войска захватили Тобрук.</p>

<p>В июле 1942 года Роммель получил серьёзное подкрепление — дислоцировавшаяся на Крите крепостная дивизия была преобразована 16 августа в механизированное соединение, 164-ю лёгкую дивизию «Африка» в составе 125-го (с 1943 г. — механизированный полк «Африка»), 382-го и 433-го механизированных полков, 220-го артиллерийского полка, 154-го бронеразведывательного (с 1943 г. — 220-го моторизованного) батальона и моторизованных подразделений обеспечения.</p>

<p>1 июля 8-я армия остановила Роммеля под Эль-Аламейном. До 27 июля Роммель безуспешно пытался прорвать оборону союзников. Тем не менее премьер-министр Черчилль решил сместить с должности британского главнокомандующего в Северной Африке. 15 августа вместо генерала Клода Окинлека был назначен генерал Харольд Александер. 8-ю армию возглавил генерал Монтгомери.</p>

<p>С 31 августа по 5 сентября Роммель возобновил атаки в районе Алам-Хальфа под Эль-Аламейном, но Монтгомери их успешно отразил.</p>
<hr>
<a href="{% url 'na_op'%}"><<<-Северо-Африканская операция</a>
<a href="{% url 'alam'%}">Тунисская операция->>></a>
{% endblock %}
{% block footer %}
{% endblock %}