{% extends "comm.html" %}
{%block title%}{{com.name}}{%endblock%}
{% block info %}
<div><img src="{{ MEDIA_URL }}{{com.photo.url}}"></div>

<h1>Ганс-Юрген фон Арнем, 4 апреля 1889 - 1 сентября 1962 — генерал-полковник немецкой армии (1942).</h1>
<p>{{com.info}}</p>
{% endblock %}
{% block footer %}

{% endblock %}
