{% extends "comm.html" %}
{%block title%}{{com.name}}{%endblock%}
{% block info %}
<div><img src="{{ MEDIA_URL }}{{com.photo.url}}"></div>

<h1>Итало Бальбо, 5 июня 1896 — 28 июня 1940 — итальянский военный и политический деятель, единственный Маршал авиации Италии, Генерал-губернатор итальянской Ливии и Верховный главнокомандующий итальянской Северной Африки с 1 января 1934 по 28 июня 1940.</h1>
<p>{{com.info}}</p>
{% endblock %}
{% block footer %}

{% endblock %}
