{% extends "comm.html" %}
{%block title%}{{com.name}}{%endblock%}
{% block info %}
<div><img src="{{ MEDIA_URL }}{{com.photo.url}}"></div>

<h1>Этторе Бастико, 9 апреля 1876 — 2 декабря 1972 — итальянский военный и государственный деятель. Маршал Италии (12 августа 1942).</h1>
<p>{{com.info}}</p>
{% endblock %}
{% block footer %}

{% endblock %}
