<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
	<style>
	body
	{ padding-bottom: 70px; }
	</style>
    <title>Военачальник - {%block title%}{%endblock%}</title>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<ul class="nav nav-pills nav-justified" role="tablist">
			<li><a href="{% url 'main' %}">Главная страница</a></li>
			<li><a href="{% url 'commanders' %}">Военачальники</a></li>
			<li><a href="{% url 'operations' %}">Операции</a></li>
            <li><a href="{% url 'search' %}">Поиск</a></li>
			<li><a href="{% url 'about' %}">О сайте</a></li>
		</ul>
	 </div>
</nav>


<div class="row">
  <div class="col-md-8">
{% block info %}{% endblock %}
  </div>
  <div class="col-md-4">
    <ul>Военачальники стран Оси
      <li><a href="{% url 'rom' %}">{{ rom }}</a></li>
      <li><a href="{% url 'arn' %}">{{ arn }}</a></li>
      <li><a href="{% url 'bal' %}">{{ bal }}</a></li>
      <li><a href="{% url 'bas' %}">{{ bas }}</a></li>
    </ul>
    <ul>Военачальники Союзников
      <li><a href="{% url 'eis' %}">{{ eis }}</a></li>
      <li><a href="{% url 'mon' %}">{{ mon }}</a></li>
      <li><a href="{% url 'wav' %}">{{ wav }}</a></li>
    </ul>

  </div>
</div>
{% block footer %}

{% endblock %}
</body>
</html>