{% extends "comm.html" %}
{%block title%}{{com.name}}{%endblock%}
{% block info %}
<div><img src="{{ MEDIA_URL }}{{com.photo.url}}"></div>

<h1>Дуайт Дэвид Эйзенхауэр, 14 октября 1890 - 28 марта 1969 - американский государственный и военный деятель, генерал армии (1944), 34-й президент США (20 января 1953 - 20 января 1961).</h1>
<p>{{com.info}}</p>
{% endblock %}
{% block footer %}

{% endblock %}

