{% extends "comm.html" %}
{%block title%}{{com.name}}{%endblock%}
{% block info %}
<div><img src="{{ MEDIA_URL }}{{com.photo.url}}"></div>

<h1>Бернард Лоу Монтгомери, 17 ноября 1887 — 24 марта 1976 — британский фельдмаршал (1944), крупный военачальник Второй мировой войны.</h1>
<p>{{com.info}}</p>
{% endblock %}
{% block footer %}

{% endblock %}

