{% extends "comm.html" %}
{%block title%}{{com.name}}{%endblock%}
{% block info %}
<div><img src="{{ MEDIA_URL }}{{com.photo.url}}"></div>

<h1>Эрвин Ойген Йоханнес Роммель, 15 ноября 1891 — 14 октября 1944 — немецкий генерал-фельдмаршал (1942) и командующий войсками Оси в Северной Африке.</h1>
<p>{{com.info}}</p>
{% endblock %}
{% block footer %}

{% endblock %}

