{% extends "comm.html" %}
{%block title%}{{com.name}}{%endblock%}
{% block info %}
<div><img src="{{ MEDIA_URL }}{{com.photo.url}}"></div>

<h1>Арчибальд Уэйвелл, 5 мая 1883 — 24 мая 1950 — британский фельдмаршал, верховный главнокомандующий ABDA, главнокомандующий британскими силами в Индии и Бирме в ходе Второй мировой войны.</h1>
<p>{{com.info}}</p>
{% endblock %}
{% block footer %}

{% endblock %}

